body{
	background-color:#F3F0E8;
	position:relative;
}
#LinkedIn{
	position:relative;
}
header{
	background-color:white;
	top:0;
	left:0;
	right:0;
	position:fixed;
	z-index:5;
}
#Logo{
	height:1cm;
	width:1cm;
	border-radius:3px;
	position:relative;
}
ul li{
	list-style-type:none;
}
#Nav{
	display:flex;
	position:relative;
	height:0.7cm;
	justify-content:space-between;
}
#Nav > #Logo-Search{
	display:flex;
	position:relative;
	gap:10px;
}
#Nav #Logo-sec{
	text-decoration:none;
	margin-top:-0.1cm;
	margin-left:-0.6cm;
}
@media screen and (min-width:960px){
	#Nav > #Nav-section{
		justify-content:space-between;
		
	}
}
	#Nav #Search{
		height:0.8cm;
		width:7cm;
		padding-top:0.1cm;
		border-radius:20px;
		border:1px solid grey;
		position:relative;
		display:flex;
		margin-top:-0.1cm;
	}
	#Nav #Search:hover{
		background-color:#f5f5f5;
	}
	#Search #Search-in{
		border:none;
		outline:none;
		position:relative;
		margin-left:0cm;
		width:6.1cm;
		height:0.8cm;
		padding-left:0.2cm;
		margin-top:-0.1cm;
		border-radius:30px;
	}
	#Search #Search-in:hover{
		background-color:#f5f5f5;
	}
#Search #Search-sym{
	color:grey;
	position:relative;
	margin-left:0.3cm;
	font-weight:bold;
	margin-top:0.1cm;
}
#Logo-Search #Search-Big-sym{
	color:grey;
	position:relative;
	margin-left:0.3cm;
	font-size:25px;
	font-weight:bold;
	margin-top:0.1cm;
}

#Nav > #Nav-section{
	display:flex;
	justify-content:space-around;
	gap:25px;
}
@media screen and (max-width:990px){
	#Nav > #Nav-section{
		margin-top:0.2cm;
		gap:3vw;
	}
	#Nav{
		gap:1vw;
	}
	#Nav #Logo-Search{
		gap:3vw;
	}
	#Nav #Search{
		display:none;
	}
	#Nav > #Nav-section > #home-sec{
		margin-left:0.3cm;
		margin-top:0.3cm;
	}
	#Nav > #Nav-section > #vert{
		display:none;
	}
}
@media screen and (min-width:990px){
	#Logo-Search #Search-Big-sym{
		display:none;
	}
	#Nav > #Nav-section > #vert{
		display:none;
	}
}
@media screen and (min-width:770px) and (max-width:990px){
	#Nav > #Nav-section{
		gap:5%;
		width:100%;
	}
	#Nav{
		gap:5%;
		width:100%;
	}
	#Nav #Logo-Search{
		gap:60%;
	}
}
@media screen and (min-width:150px) and (max-width:770px){
	#Nav > #Nav-section{
		gap:10%;
		width:100%;
	}
	#Nav{
		gap:15%;
		width:100%;
		padding-top:2vw;
	}
	#Nav #Logo-Search{
		gap:70%;
	}
	#Nav > #Nav-section > #home-sec{
		margin-left:0.3em;
	}
}
#Nav > #Nav-section > #home-sec{
	margin-top:-0.1cm;
	position:relative;
	margin-right:25px;
}
#Nav > #Nav-section > #home-sec > a{
	font-size:25px;
	color:grey;
	position:absolute;
	text-decoration:none;
}
#Nav > #Nav-section > #home-sec > a:hover{
	color:black;
}
/*Home Nav-section*/
#home-sec #toggleIcon1{
    display: none;
  }

  /* Container for the SVGs */
 #home-sec label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  /* Default SVG (shown when unchecked) */
 #home-sec #home1 {
    display: block;
  }
#home-sec #home2 {
    display: none;
  }

  /* When checkbox is checked, swap icons */
 #home-sec #toggleIcon1:checked + label #home1 {
    display: none;
  }
 #home-sec #toggleIcon1:checked + label #home2 {
    display: block;
  }

#Nav > #Nav-section > #team-sec{
	margin-top:-0.1cm;
	position:relative;
}
#Nav > #Nav-section > #team-sec > a{
	font-size:25px;
	color:grey;
	position:absolute;
	text-decoration:none;
}
#Nav > #Nav-section > #team-sec > a:hover{
	color:black;
}
/*People Nav-section*/
#team-sec #toggleIcon2{
    display: none;
  }

  /* Container for the SVGs */
 #team-sec label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  /* Default SVG (shown when unchecked) */
 #team-sec #team1 {
    display: block;
  }
#team-sec #team2 {
    display: none;
  }

  /* When checkbox is checked, swap icons */
 #team-sec #toggleIcon2:checked + label #team1 {
    display: none;
  }
 #team-sec #toggleIcon2:checked + label #team2 {
    display: block;
  }
  
#Nav > #Nav-section > #skills-sec{
	margin-top:-0.1cm;
	margin-right:25px;
	margin-left:25px;
	position:relative;
}
#Nav > #Nav-section > #skills-sec > a{
	font-size:25px;
	color:grey;
	position:absolute;
	text-decoration:none;
}
#Nav > #Nav-section > #skills-sec > a:hover{
	color:black;
}
/*Purse Nav-section*/
#skills-sec #toggleIcon3{
    display: none;
  }

  /* Container for the SVGs */
 #skills-sec label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  /* Default SVG (shown when unchecked) */
 #skills-sec #skills1 {
    display: block;
  }
#skills-sec #skills2 {
    display: none;
  }

  /* When checkbox is checked, swap icons */
 #skills-sec #toggleIcon3:checked + label #skills1 {
    display: none;
  }
 #skills-sec #toggleIcon3:checked + label #skills2 {
    display: block;
  }
 

#Nav > #Nav-section > #mess-sec{
	margin-top:-0.1cm;
	position:relative;
}
#Nav > #Nav-section > #mess-sec > a{
	font-size:25px;
	color:grey;
	position:relative;
	text-decoration:none;
}
#Nav > #Nav-section > #mess-sec > a:hover{
	color:black;
}
/*Mess Nav-section*/
#mess-sec #toggleIcon4{
    display: none;
  }

  /* Container for the SVGs */
 #mess-sec label {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 50px;
  }

  /* Default SVG (shown when unchecked) */
 #mess-sec #mess1 {
    display: block;
  }
#mess-sec #mess2 {
    display: none;
  }

  /* When checkbox is checked, swap icons */
 #mess-sec #toggleIcon4:checked + label #mess1 {
    display: none;
  }
 #mess-sec #toggleIcon4:checked + label #mess2 {
    display: block;
  }

#Nav > #Nav-section > #noti-sec{
	margin-top:-0.1cm;
	position:relative;
}
#Nav > #Nav-section > #noti-sec > a{
	font-size:25px;
	color:grey;
	position:relative;
	text-decoration:none;
}
#Nav > #Nav-section > #noti-sec > a:hover{
	color:black;
}
/*Notification Nav-section*/
#noti-sec #toggleIcon5{
    display: none;
  }

  /* Container for the SVGs */
 #noti-sec label {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 50px;
  }

  /* Default SVG (shown when unchecked) */
 #noti-sec #noti1 {
    display: block;
  }
#noti-sec #noti2 {
    display: none;
  }

  /* When checkbox is checked, swap icons */
 #noti-sec #toggleIcon5:checked + label #noti1 {
    display: none;
  }
 #noti-sec #toggleIcon5:checked + label #noti2 {
    display: block;
  }

#Nav > #Nav-section > #V-sec{
	position:relative;
	margin-top:0cm;
}
#Nav > #Nav-section > #V-sec > #V-circle{
	font-size:15px;
	position:relative;
	color:white;
	font-family: 'Noto Sans', sans-serif;
	text-decoration:none;
	border-radius:100px;
	background-color:purple;
	padding:0.1cm 0.19cm;
} 
#Nav > #Nav-section > #vert{
	height:1.5cm;
	background-color:#F0EFE7;
	width:0.1px;
	margin-top:-0.4cm;
	position:relative;
}
#Nav > #Nav-section > #apps-sec{
	position:relative;
	margin-top:-0.1cm;
}
#Nav > #Nav-section > #apps-sec > a{
	font-size:25px;
	color:grey;
	position:relative;
	text-decoration:none;
}
#Nav > #Nav-section > #apps-sec > a:hover{
	color:black;
}
#Nav > #Nav-section > #premi-sec{
	position:relative;
	display:flex;
	flex-wrap:nowrap;
	margin-top:-0.2cm;
	margin-right:25px;
}
#Nav > #Nav-section > #premi-sec > center > a{
	position:relative;
	text-decoration:none;
	color:grey;
	font-size:11.5px;
	font-family: 'Noto Sans', sans-serif;
}
#Nav > #Nav-section #premi{
	height:0.6cm;
	width:0.6cm;
	position:relative;
	margin-bottom:-0.3cm;
}
@media screen and (max-width:770px){
	#Nav > #Nav-section{
		width:13cm;
		margin:auto;
		overflow-x:scroll;
	}
	#Search #Search-in{
		border:none;
		outline:none;
		position:relative;
		margin-left:0cm;
		width:6.1cm;
		height:0.8cm;
		padding-left:0.2cm;
		margin-top:-0.1cm;
		border-radius:30px;
	}
}
#LinkedIn > #Apps{
	position:relative;
	
}